
**.cache
CalendarQuickstart/obj/Debug/CalendarQuickstart.csproj.CoreCompileInputs.cache
**.ide-wal
**.ide-shm
$*.ide
.vs/CalendarQuickstart/v15/.suo
*$.ide-shm
**.ide-wal
**.cache
**.ide-shm
.vs/*
packages/*